
<div class="beta-test">
	<h5>We're in early Beta Test</h5>
	<p>We ask for your patience and lots of <a href="mailto:feedback@neofiction.com">feedback!</a> </p>
	
</div>

<div class="box-header blue">
	<h3 class="title-box">
		<span class="neo-style-small">neo</span><span class="fiction-style-small">FICTION</span> is Different
    </h3>
		<div class="pricing-box-container">
			<div class="list-box-content">
				<ul>
				    <li>Collaborative writing platform produces synergistic/vetted results</li>
				    <li>Stories branch and flow based on community comments and votes</li>
				    <li>Writers have opportunity to test themselves in many popular genres</li>
				    <li>Readers can track and influence stories as they are written</li>
		        </ul>
	        </div>
		</div>
</div>
