<h3>About neoFICTION</h3>

<h5>Our Vision</h5>
<p>
From the beginning of our human history, writing has typically been a solitary pursuit.  neoFICTION is dedicated to leveraging the "community" capabilities of the web to create a new class of fiction.  Fiction that has the combined creativity of multiple authors and is guided from conception to completion by immediate reader feedback.  
</p>

<h5>Our Goals</h5>
<p>We want to provide the following to our community:</p>
	<ul class="about-list">
		<li>A writing platform that fosters fictional works that can have many contributing authors</li>
		<li>An immediate feedback system for readers to read and provide comment on these works as they evolve </li>
		<li>Simple and intuitive tools to find the freshest and most interesting works available on the site</li>
		<li>A publishing system dedicated to finding the broadest readership and for neoFICTION works, with writers sharing in a portion of the royalties.   
	</ul>

<h5>Our Organization</h5>
<p>
	neoFICTION is a bootstrapped, early-stage startup.
</p>