
<div class="one">
<div class="one-half">

<h3>A Different Reading Experience</h3>


<p>Readers experience something different at neoFICTION.  The curtain is pulled back to expose the creative process.  Readers actually participate in the process.  They have influence and impact on the final work - a work that is better for their effort.  As they join in the collective effort through comments and voting, they are rewarded with fiction that is more interesting and innovative.  Readers spend less time searching and more time reading, contributing, and enjoying the results.</p>
</div>

<div class="one-half last">
<h5>The neoFICTION Difference for Readers</h5>
<div class="messaging-list">
<ul>
	<li>Richer reading experience by seeing “behind the scenes” of the creative process.</li>
	<li>Readers comment and vote on stories, influencing the resulting work.</li>
	<li>Test bed of the most innovative fiction organized to be easily accessible to readers.</li>
	<li>Community that continually refines and vets new fiction for readers.</li>
</ul>
</div>
</div>
</div>


<div class="div-line"></div>
<div class="div-space-20"> &nbsp; </div>


<div class="two-third last">

<table>
	<tbody>
		<tr>
			<th>Problems with the traditional search for good fiction:</th>
			<th>Advantages to reading fiction on the neoFICTION platform:</th>
		</tr>
		<tr>
		    <td>Traditional reading is primarily a passive process, lacking in opportunities to provide feedback and participate in the creative process.</td>
			<td>We provide a collaborative environment where readers are encouraged to comment on works as they are being written, supporting and enhancing the writers’s effort.</td>
		</tr>
		<tr>
		    <td>Readers are mostly detached from the story.  They don’t have influence into what gets written.  They have no opportunity to put time or effort into helping writers create better, more interesting stories.</td>
		    <td>Our platform provides ways for readers to influence the story with comments and suggestions during the creation process.  Knowing they helped shape the end results, the story is more meaningful and rewarding for them.</td>
		</tr>
		<tr>
		    <td>Publishers follow a very staid and formulaic process in selecting the stories they choose to publish.  The results are very predictable and mainstream books and stories that fail to open the mind and enliven the soul. </td>
			<td>Our platform provides a supportive environment where readers can find inventive and cutting-edge writers, and easily find these writers' best stories in genres that interest the reader.</td>
		</tr>
		<tr>
		    <td>The web as radically increased the opportunities for finding new stories – the web is full of people trying to become the next big success.  However, now there is a new problem: knowing which of these new works are worth taking the time to read.</td>
		    <td>Our platform supports a community of readers that are committed to finding and supporting the best new stories anywhere on the web.  Community members quickly and efficiently vet the fiction on the site.</td>
        </tr>
    </tbody>
</table>
</div>
