

<h3>A Different Writing Experience</h3>

<div class="one-half">

<h5>Introduction</h5>

<p>Writing is a very different experience on neoFICTION.  Gone is the idea that a lone author disappears for weeks and months of solitary work, isolated, relying on just a few reviewers to provide guidance and feedback.  Here writing is truly a collaborative and guided effort. </p>  
	
<p>Self-selecting groups of writers synergistically combine their talents and ideas. They are guided and supported by each other as well as a community of active readers.  Community comments and votes continuously vet and refine stories and chapters, fostering radical ideas, spawning competing plot branches, creating unpredictable plot twists, and more. </p>

<p>neoFICTION also addresses the challenge of publishing.  No longer is a writer required to complete an entire work and find a willing publisher (or find money to be self-published) before they can become published and paid royalties. As neoFICTION establishes a strong publishing brand, writers will automatically be published as popular stories to which they have contributed are completed and pushed into multiple distribution channels. Writers share in royalties based on the level of their contribution.</p>
</div>

<div class="one-half last" >
<h5>The neoFICTION Difference for Writers</h5>
 <div class="messaging-list">
  <ul>
	<li>Collaborative writing with truly synergistic results.</li>
	<li>Immediate feedback helps refine and hone the writer’s abilities. </li>
	<li>Test bed to quickly validate new story ideas through alternative-path testing and iterative enhancements. </li>
	<li>Offers writing opportunities across a broad range of popular genres.</li>
	<li>Helps new and aspiring writers become published authors, with royalty opportunities. (Coming soon)</li>
	<li>Removes the burden of publishing and marketing from the writers, allowing them to focus on writing. (Coming soon)</li>
	<li>Accelerates the best new fiction to market via an established brand. (Coming soon)</li>
  </ul>
 </div>
</div>

<div class="div-line"></div>
<div class="div-space-20"> &nbsp; </div>


<div class="two-third last">
<br /><br /><h5>Traditional Writing Compared to neoFICTION</h5>
<table>
	<tbody>
		<tr>
			<th>Problems with the traditional writing approach:</th>
			<th>Advantages to writing fiction on the neoFICTION platform:</th>
		</tr>
		<tr>
		    <td>Writing is primarily a solitary process, lacking in opportunities for collaboration and external inspiration (difficult to overcome writer’s block)</td>
			<td>We provide a collaborative environment where multiple writers work together to create inspirational works that could not have been created in a solo effort.</td>
		</tr>
		<tr>
		    <td>Writers commit large amounts of time and effort into works with limited feedback during the writing process</td>
		    <td>From the first chapter(s) each part of the work is visible to the community for feedback and criticism. This feedback provides wisdom/guidance on story ideas, plot lines, character development, etc.</td>
		</tr>
		<tr>
		    <td>Writers have a very difficult time getting published, especially initially</td>
			<td>The best and most popular works created via this platform are published via our label with individual writers receiving full attribution.  It is a great way to get published without having to write a complete work.</td>
		</tr>
		<tr>
		    <td>Writers have no way to test-market their ideas to a diverse audience while they are writing/creating.</td>
		    <td> Our platform provides voting and commenting tools to allow readers to provide immediate feedback on writers’ new ideas and approaches.  With this approach, iterative cycles are measured in hours and days, verses weeks and months with the traditional model.</td>
        </tr>
		<tr>
		    <td>It is difficult for writers to get their works published and receive meaningful income.</td>
		    <td>As our publishing brand becomes more and more popular and well regarded, works published via that label will be much more likely to generate significant income for participating writers.</td>
        </tr>
		<tr>
		    <td>Writers are usually not marketers, and would prefer to spend their time writing rather than marketing activities.</td>
		    <td>Our publishing process is managed by marketing professionals, whose know-how and expertise are applied to all works chosen for publication.  Writers are not required to participate in any marketing activities, but they may have the opportunity if they choose.  </td>
        </tr>
		<tr>
		    <td>Because writers have traditionally been required to write a complete work in a certain genre, it has been difficult for them to experiment with multiple genres and especially gain experience in multiple genres.</td>
		    <td>Our platform enables and encourages writers to contribute to stories in a wide rage of genres.  They receive immediate feedback from the community, helping them become better and more comfortable in a new genre. </td>
        </tr>

    </tbody>
</table>
</div>
