<p><strong>Hello from neoFICTION! </strong></p>

<p>Someone has requested a password change for the neoFICTION account with the email: <%= @resource.email %>.  If you requested this change, you can make the change by clicking the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>If you didn't request this password change, please ignore this email.</p>

<p>Thanks,</p>

<p><strong>The neoFICTION Team </strong></p>

