<div id="footer-wrapper">
	<div id="footer-container">
		<div id="footer">
			<div class="one">
			    <div class="one-fifth">
				  <h6><%= link_to "About neoFICTION", about_path %></h6>
				</div>
			    <div class="one-fifth">
				  <h6><%= link_to "Terms of Use", terms_path %></h6>
				</div>
			    <div class="one-fifth">
				  <h6><%= link_to "Contact Us", contact_path %></h6>	
				
				</div>
			    <div class="one-fifth">
				  <h6><a href="mailto:feedback@neofiction.com">Suggestions/Feedback</a></h6>
				</div>
			    <div class="one-fifth last">
				  <h6><a href="mailto:support@neofiction.com">Support</a></h6>
				</div>
			</div>  <!-- class="one" -->
		</div>  <!-- id="footer" -->
	</div>  <!-- id="footer-container" -->
</div>  <!-- id="footer-wrapper"  -->


<div id="copyright-wrapper">
    <div id="copyright">
	    Copyright 2014      neoFICTION, Inc.      All rights reserved.  
        <div class="right">
        </div>
    </div>
</div>